body {
    background-image: url("pic.jpg");
}

table {
    color: white;
    background-color: yellowgreen;
    font-size: larger;
    height: 300px;
    width: 450px;
    border-radius: 30px;
    border:1px solid green;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 2px 2px;
}